*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parentcontainer{
    border: 2px solid;
    width:90%;
    margin-left:10px;
    position: relative;
}
img{
    width:300px;
      border-radius: 50%;  
    
}
.first-image-container{
    margin: 10px 20px;
    border:2px solid;
    display: flex;
    justify-content: space-around;
     
}
.second-image-container{
    margin: 10px 20px;
    border:2px solid;
    display: flex;
    justify-content: space-around;
     
}
.itemcontainer1,.itemcontainer2,.itemcontainer3,.itemcontainer4{
    position: relative;
}
p{
    position: absolute;
    top:35%;
    left:35%;
    color:rgb(165, 42, 136);
    font-size: xx-large;
}
.sitemcontainer1,.sitemcontainer2,.sitemcontainer3,.sitemcontainer4{
    position: relative;
}






   
   